
.horario {
  width: 43.5%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1% 0% 1% 0%;
  padding: 2% 3%;
  text-align: left;
}

.horario ul {
  list-style: none;
  padding-left: 0;
}

.contactos{
  width: 43.5%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1.5% 0% 2% 0%;  /* margin-top: 1.5%; para esquerda e direita estarem enquadrados */
  padding: 2% 3%;
  text-align: left;
}


.formulario {
  width: 43.5%;
  float: right;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1% 0% 2% 0%;
  padding: 2% 3%;
}

.formulario input, textarea {
  padding: 10px;
  border: 1px solid #E5E5E5;
  width: 90%;
  color: #999999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px;
}

textarea {
  width: 90%;
  max-width: 90%;
  height: 150px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #C9C9C9;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
}

.formulario label {
  margin-right: 10px;
  color: #999999;
}

.submit input {
  width: 50%;
  height: 40px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

}
