
/* ==================
   ===== GLOBAL =====
   ==================
*/



body {
  background-image: url('../img/bg.png');
  color      : #000305;
  font-size  : 87.5%;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  line-height: 1.5;
  text-align : left;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #CF5C3F;

}
a:hover, a:active {
  color: #CF5C3F;
}

.body {
  margin: 0 auto;
  width : 70%;
  clear : both;
}

.mainheader img {
  width : 100%;
  height: auto;
  margin: 2% 0;
}

.mainheader nav {
  background-color     : #666;
  height               : 40px;
  border-radius        : 5px;
  -moz-border-radius   : 5px;
  -webkit-border-radius: 5px;
}

.mainheader nav ul {
  list-style: none;
  margin    : 0 auto;
}

.mainheader nav ul li {
  float  : left;
  display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited {
  color  : #FFF;
  display: inline-block;
  padding: 10px 25px;
  height : 20px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited {

  background-color: #CF5C3F;
  text-shadow     : none;
}

.mainheader nav ul li a {
  border-radius        : 5px;
  -moz-border-radius   : 5px;
  -webkit-border-radius: 5px;
}


.mainContent {

  border-radius        : 5px;
  -moz-border-radius   : 5px;
  -webkit-border-radius: 5px;
}

h2 { /* precisa de ser experimentado */
 color: #CF5C3F;
}


/* ================
   ===== HOME =====
   ================
*/
.content {
  margin-top           : 2%;
  width                : 100%;
  float                : left;
  border-radius        : 5px;
  -moz-border-radius   : 5px;
  -webkit-border-radius: 5px;
}

.topcontent {
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 2% 3%;
}


/* ===================
   ===== TURISMO =====
   ===================


ESTA EM turismo.css A PAGINA
IMMPORTA OS DOIS

*/






/* ====================
   ===== SERVICOS =====
   ====================
*/

.sidebarLeft {
  width: 43.5%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1% 0% 2% 0%;
  padding: 2% 3%;

}

.sidebar {
  width: 43.5%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1% 0% 2% 1%;
  padding: 2% 3%;
}


/* =====================
   ===== CONTACTOS =====
   =====================
*/

.horario {
  width: 43.5%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1% 0% 1% 0%;
  padding: 2% 3%;
  text-align: left;
}

.horario ul {
  list-style: none;
  padding-left: 0;
}

.contactos{
  width: 43.5%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1.5% 0% 2% 0%;  /* margin-top: 1.5%; para esquerda e direita estarem enquadrados */
  padding: 2% 3%;
  text-align: left;
}


.formulario {
  width: 43.5%;
  float: right;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1% 0% 2% 0%;
  padding: 2% 3%;
}

.formulario input, textarea {
  padding: 10px;
  border: 1px solid #E5E5E5;
  width: 90%;
  color: #999999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px;
}

textarea {
  width: 90%;
  max-width: 90%;
  height: 150px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #C9C9C9;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
}

.formulario label {
  margin-right: 10px;
  color: #999999;
}

.submit input {
  width: 50%;
  height: 40px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

}


/*
.top-sidebar {
  width: 21%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 2% 0 2% 3%;
  padding: 2% 3%;
}

.middle-sidebar {
  width: 21%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 0 2% 3%;
  padding: 2% 3%;
}

.bottom-sidebar {
  width: 21%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 0 2% 3%;
  padding: 2% 3%;
}

*/
@media only screen and (min-width: 150px) and (max-width: 600px)
{
  .body {
    width: 70%;
    clear: both;
  }
  .mainheader img {
    width: 100%;
  }
  .mainheader nav {
    height: 160px;
  }

  .mainheader nav ul {
    padding-left: 0;
   }

  .mainheader nav ul li {
    width: 100%;
    text-align: center;
  }

  .mainheader nav a:link, .mainheader nav a:visited {
    padding: 10px 25px;
    height : 20px;
    display: block;
  }

  .content {
    margin-top: 2%;
    width     : 100%;
    float     : left;

  }

  .topcontent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    margin-bottom: 4%;
  }

    .top-sidebar, .middle-sidebar, .bottom-sidebar{
    width: 94%;
    float: left;
    padding: 2% 3%;
  }
}
